.baner{
    height: calc(100vh - 52px);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;

    .caption{
        position: absolute;
        top: 45%;
        left: 5%;
        color: aliceblue;
     h3{
        font-size: 3rem;
        text-shadow: 8px 16px 22px rgba(251, 251, 251);
     }
    }
}



.trailer{
    cursor: pointer;
}